.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name10 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name12 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name14 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}
.navigation-links-root-class-name15 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}


.navigation-links-root-class-name18 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name20 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name22 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name24 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name26 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name28 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name30 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name9 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name11 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name13 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name16 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name17 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name19 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name21 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name23 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name25 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name27 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name29 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name31 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}

.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.about-us-header {
  width: 100%;
  display: flex;
  max-width: auto;
  min-width: auto;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-navlink {
  display: contents;
}
.about-us-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.about-us-nav {
  display: flex;
}
.about-us-navlink1 {
  display: contents;
}
.about-us-component {
  text-decoration: none;
}
.about-us-icon {
  fill: var(--dl-color-hexemental-darkblue);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon02 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 31px;
  height: 26px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon04 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 28px;
  height: 26px;
  text-decoration: none;
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-image1 {
  height: 2rem;
}
.about-us-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-welcome {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/background-1500h.png");
  background-position: center;
}
.about-us-text {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-us-text01 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
  max-width: 450px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.about-us-link03 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-link03:hover {
  transform: scale(1.02);
}
.about-us-lopez {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-image2 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text02 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text05 {
  color: var(--dl-color-hexemental-darkblue);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text06 {
  color: var(--dl-color-hexemental-darkblue);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text07 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link04 {
  color: var(--dl-color-hexemental-yellow);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-bargayo {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-image3 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text12 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container05 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text15 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text16 {
  color: var(--dl-color-hexemental-yellow);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text17 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link05 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-esperancilla {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-image4 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text22 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text25 {
  color: var(--dl-color-hexemental-darkblue);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text26 {
  color: var(--dl-color-hexemental-darkblue);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link06 {
  color: var(--dl-color-hexemental-yellow);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-bello {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-image5 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text30 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text33 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text34 {
  color: var(--dl-color-hexemental-yellow);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text35 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link07 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-esperancilla1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-image6 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text40 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text43 {
  color: var(--dl-color-hexemental-darkblue);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text44 {
  color: var(--dl-color-hexemental-darkblue);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text45 {
  max-width: 600px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link08 {
  color: var(--dl-color-hexemental-yellow);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-reyes {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-darkblue);
}
.about-us-image7 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.about-us-testimonial5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text50 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-text53 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text54 {
  color: var(--dl-color-hexemental-yellow);
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-link09 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.about-us-container14 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-image8 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.about-us-text58 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  text-decoration: none;
}
.about-us-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-family: Hind;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-hexemental-darkblue);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-text59 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
}
.about-us-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-link10 {
  display: contents;
}
.about-us-icon16 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-link11 {
  display: contents;
}
.about-us-icon18 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-link12 {
  display: contents;
}
.about-us-icon20 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 1600px) {
  .about-us-lopez {
    background-color: var(--dl-color-hexemental-yellow);
  }
  .about-us-text05 {
    color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-link04 {
    color: var(--dl-color-hexemental-yellow);
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text12 {
    color: var(--dl-color-gray-white);
    font-size: 1.15rem;
  }
  .about-us-text15 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .about-us-text16 {
    color: var(--dl-color-hexemental-yellow);
    font-weight: 600;
  }
  .about-us-text53 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media(max-width: 1200px) {
  .about-us-container {
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text01 {
    color: var(--dl-color-hexemental-yellow);
    width: auto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .about-us-link03 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-lopez {
    padding-bottom: 48px;
  }
  .about-us-text02 {
    color: var(--dl-color-gray-white);
    font-size: 1.15rem;
  }
  .about-us-text05 {
    color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text06 {
    color: var(--dl-color-hexemental-darkblue);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text07 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text12 {
    color: var(--dl-color-gray-white);
  }
  .about-us-text15 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .about-us-text16 {
    color: var(--dl-color-hexemental-yellow);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text17 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-esperancilla {
    background-color: var(--dl-color-hexemental-yellow);
  }
  .about-us-text22 {
    color: var(--dl-color-gray-white);
    font-size: 1.15rem;
  }
  .about-us-text25 {
    color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text26 {
    color: var(--dl-color-hexemental-darkblue);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text27 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-link06 {
    color: var(--dl-color-hexemental-yellow);
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text29 {
    color: var(--dl-color-hexemental-yellow);
  }
  .about-us-text30 {
    color: var(--dl-color-gray-white);
  }
  .about-us-text33 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .about-us-text34 {
    color: var(--dl-color-hexemental-yellow);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text35 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-esperancilla1 {
    background-color: var(--dl-color-hexemental-yellow);
  }
  .about-us-text40 {
    color: var(--dl-color-gray-white);
    font-size: 1.15rem;
  }
  .about-us-text43 {
    color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text44 {
    color: var(--dl-color-hexemental-darkblue);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text45 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-link08 {
    color: var(--dl-color-hexemental-yellow);
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .about-us-text47 {
    color: var(--dl-color-hexemental-yellow);
  }
  .about-us-text50 {
    color: var(--dl-color-gray-white);
    font-size: 1.15rem;
  }
  .about-us-text53 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .about-us-text54 {
    color: var(--dl-color-hexemental-yellow);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .about-us-icon06 {
    display: flex;
  }
  .about-us-image2 {
    margin-bottom: 0px;
  }
  .about-us-text02 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-image3 {
    margin-bottom: 0px;
  }
  .about-us-text12 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-image4 {
    margin-bottom: 0px;
  }
  .about-us-text22 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-image5 {
    margin-bottom: 0px;
  }
  .about-us-text30 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-image6 {
    margin-bottom: 0px;
  }
  .about-us-text40 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-image7 {
    margin-bottom: 0px;
  }
  .about-us-text50 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .about-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-nav {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-welcome {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-lopez {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-bargayo {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-esperancilla {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-bello {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-esperancilla1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-reyes {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-image8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text59 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .about-us-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .about-us-image {
    margin-left: var(--dl-space-space-unit);
  }
  .about-us-icon-group {
    display: none;
  }
  .about-us-icon06 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .about-us-mobile-menu {
    height: 376px;
    display: none;
    padding: 16px;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .about-us-image1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-icon08 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .about-us-icon-group1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-icon10 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .about-us-icon12 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .about-us-icon14 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .about-us-welcome {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-lopez {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image2 {
    width: 200px;
  }
  .about-us-text02 {
    width: auto;
  }
  .about-us-bargayo {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image3 {
    width: 200px;
  }
  .about-us-text12 {
    width: auto;
  }
  .about-us-esperancilla {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image4 {
    width: 200px;
  }
  .about-us-text22 {
    width: auto;
  }
  .about-us-bello {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image5 {
    width: 200px;
  }
  .about-us-text30 {
    width: auto;
  }
  .about-us-esperancilla1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image6 {
    width: 200px;
  }
  .about-us-text40 {
    width: auto;
  }
  .about-us-reyes {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image7 {
    width: 200px;
  }
  .about-us-text50 {
    width: auto;
  }
  .about-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text59 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
