.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name10 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name12 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name14 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}
.navigation-links-root-class-name15 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}


.navigation-links-root-class-name18 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name20 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name22 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name24 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name26 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name28 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name30 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name9 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name11 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name13 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name16 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name17 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name19 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name21 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name23 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name25 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name27 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name29 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name31 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}

.contact-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.contact-us-header {
  width: 100%;
  display: flex;
  max-width: auto;
  min-width: auto;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.contact-us-navlink {
  display: contents;
}
.contact-us-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.contact-us-nav {
  display: flex;
}
.contact-us-navlink1 {
  display: contents;
}
.contact-us-component {
  text-decoration: none;
}
.contact-us-icon {
  fill: var(--dl-color-hexemental-darkblue);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-icon02 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 31px;
  height: 26px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-icon04 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 28px;
  height: 26px;
  text-decoration: none;
}
.contact-us-burger-menu {
  display: none;
}
.contact-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.contact-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-us-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-us-image1 {
  height: 2rem;
}
.contact-us-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-us-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-us-welcome {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/background-1500h.png");
  background-position: center;
}
.contact-us-text {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contact-us-text1 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
  max-width: 450px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.contact-us-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-darkblue);
}
.contact-us-text2 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
  text-align: center;
}
.contact-us-text3 {
  color: var(--dl-color-gray-white);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-us-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-us-link03 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.contact-us-link03:hover {
  transform: scale(1.02);
}
.contact-us-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-hexemental-darkblue);
}
.contact-us-link04 {
  display: contents;
}
.contact-us-twitter {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link05 {
  display: contents;
}
.contact-us-instagram {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link06 {
  display: contents;
}
.contact-us-facebook {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link07 {
  display: contents;
}
.contact-us-twitch {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link08 {
  display: contents;
}
.contact-us-google {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.contact-us-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.contact-us-container2 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-us-text4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  text-decoration: none;
}
.contact-us-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-family: Hind;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-navlink5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-hexemental-darkblue);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-us-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-text5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
}
.contact-us-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us-link09 {
  display: contents;
}
.contact-us-icon21 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link10 {
  display: contents;
}
.contact-us-icon23 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-us-link11 {
  display: contents;
}
.contact-us-icon25 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .contact-us-container {
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-text1 {
    color: var(--dl-color-hexemental-yellow);
    width: auto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .contact-us-text2 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 3rem;
  }
  .contact-us-text3 {
    color: var(--dl-color-gray-white);
  }
  .contact-us-link03 {
    color: var(--dl-color-hexemental-darkblue);
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    text-decoration: none;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .contact-us-social-bar {
    padding-bottom: 48px;
  }
  .contact-us-twitter {
    fill: var(--dl-color-gray-white);
    flex: initial;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .contact-us-instagram {
    fill: var(--dl-color-gray-white);
  }
  .contact-us-facebook {
    fill: var(--dl-color-gray-white);
  }
  .contact-us-twitch {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .contact-us-google {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
}
@media(max-width: 991px) {
  .contact-us-icon06 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .contact-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-nav {
    display: none;
  }
  .contact-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-us-welcome {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-text3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-us-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-us-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-us-text5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-us-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .contact-us-image {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-us-icon-group {
    display: none;
  }
  .contact-us-icon06 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-mobile-menu {
    height: 376px;
    display: none;
    padding: 16px;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .contact-us-image1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-icon08 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-icon-group1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-icon10 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-icon12 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-icon14 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .contact-us-welcome {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-btn-group {
    flex-direction: column;
  }
  .contact-us-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-us-twitch {
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-us-google {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .contact-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-us-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-us-text5 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
