.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name10 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name12 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name14 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}
.navigation-links-root-class-name15 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}


.navigation-links-root-class-name18 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name20 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name22 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name24 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name26 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name28 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name30 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name9 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name11 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name13 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name16 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name17 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name19 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name21 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name23 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name25 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name27 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name29 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name31 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}

.our-events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-hexemental-darkblue);
}
.our-events-header {
  width: 100%;
  display: flex;
  max-width: auto;
  min-width: auto;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.our-events-navlink {
  display: contents;
}
.our-events-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.our-events-nav {
  display: flex;
}
.our-events-navlink1 {
  display: contents;
}
.our-events-component {
  text-decoration: none;
}
.our-events-icon {
  fill: var(--dl-color-hexemental-darkblue);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-events-icon02 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 31px;
  height: 26px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-events-icon04 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 28px;
  height: 26px;
  text-decoration: none;
}
.our-events-burger-menu {
  display: none;
}
.our-events-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.our-events-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.our-events-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.our-events-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.our-events-image1 {
  height: 2rem;
}
.our-events-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-events-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.our-events-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-events-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-events-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.our-events-welcome {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/coming%20soon-1500h.png");
  background-position: center;
}
.our-events-invitation {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.our-events-text {
  color: var(--dl-color-hexemental-darkblue);
  font-size: 3rem;
  text-align: center;
}
.our-events-text01 {
  color: var(--dl-color-hexemental-darkblue);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
}
.our-events-link3 {
  color: var(--dl-color-hexemental-yellow);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.our-events-link3:hover {
  transform: scale(1.02);
}
.our-events-layout {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.our-events-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.our-events-text07 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
}
.our-events-text10 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Hind;
  font-weight: 400;
  line-height: 1.15;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  text-transform: none;
  text-decoration: none;
}
.our-events-image2 {
  width: 45rem;
  margin-top: var(--dl-space-space-twounits);
}
.our-events-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.our-events-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.our-events-link4 {
  display: contents;
}
.our-events-image3 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-events-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.our-events-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  text-decoration: none;
}
.our-events-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.our-events-link5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.our-events-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-family: Hind;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.our-events-navlink5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.our-events-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-hexemental-darkblue);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.our-events-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.our-events-text15 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
}
.our-events-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.our-events-link6 {
  display: contents;
}
.our-events-icon16 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-events-link7 {
  display: contents;
}
.our-events-icon18 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-events-link8 {
  display: contents;
}
.our-events-icon20 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 1600px) {
  .our-events-text07 {
    color: var(--dl-color-hexemental-yellow);
  }
  .our-events-text08 {
    font-size: 3rem;
  }
}
@media(max-width: 1200px) {
  .our-events-invitation {
    background-color: var(--dl-color-hexemental-yellow);
  }
  .our-events-text {
    color: var(--dl-color-hexemental-darkblue);
  }
  .our-events-text01 {
    color: var(--dl-color-hexemental-darkblue);
  }
  .our-events-link3 {
    color: var(--dl-color-hexemental-yellow);
    background-color: var(--dl-color-hexemental-darkblue);
  }
  .our-events-text07 {
    color: var(--dl-color-hexemental-yellow);
    font-size: 3rem;
  }
  .our-events-text08 {
    font-size: 3rem;
  }
  .our-events-text10 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Hind;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .our-events-text11 {
    color: var(--dl-color-gray-white);
  }
  .our-events-text12 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 991px) {
  .our-events-icon06 {
    display: flex;
  }
  .our-events-text01 {
    max-width: 100%;
  }
  .our-events-layout {
    flex-direction: column;
  }
  .our-events-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .our-events-text07 {
    text-align: center;
  }
  .our-events-text08 {
    text-align: center;
  }
  .our-events-text09 {
    text-align: center;
  }
  .our-events-image2 {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .our-events-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-events-nav {
    display: none;
  }
  .our-events-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-events-welcome {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-events-invitation {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-events-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .our-events-layout {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-events-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-events-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .our-events-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .our-events-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .our-events-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .our-events-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .our-events-image {
    margin-left: var(--dl-space-space-unit);
  }
  .our-events-icon-group {
    display: none;
  }
  .our-events-icon06 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .our-events-mobile-menu {
    height: 376px;
    display: flex;
    padding: 16px;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .our-events-image1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .our-events-icon08 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .our-events-icon-group1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .our-events-icon10 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .our-events-icon12 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .our-events-icon14 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .our-events-welcome {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .our-events-invitation {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .our-events-text01 {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .our-events-layout {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .our-events-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .our-events-footer {
    padding: var(--dl-space-space-unit);
  }
  .our-events-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .our-events-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .our-events-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
