.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-list {
  width: max-content;
  bottom: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navigation-links-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navigation-links-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navigation-links-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navigation-links-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navigation-links-navlink2 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name10 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name12 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name14 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}
.navigation-links-root-class-name15 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}


.navigation-links-root-class-name18 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name20 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name22 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name24 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name26 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name28 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

.navigation-links-root-class-name30 {
  align-self: stretch;
  margin-left: var(--dl-space-space-sixunits);
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name9 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name11 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name13 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name16 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name17 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name19 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name21 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name23 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name25 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name27 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name29 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-links-root-class-name31 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}

.quarter1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.quarter1-header {
  width: 100%;
  display: flex;
  max-width: auto;
  min-width: auto;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-navlink {
  display: contents;
}
.quarter1-image {
  height: 2rem;
  object-fit: cover;
  text-decoration: none;
}
.quarter1-nav {
  display: flex;
}
.quarter1-navlink1 {
  display: contents;
}
.quarter1-component {
  text-decoration: none;
}
.quarter1-icon {
  fill: var(--dl-color-hexemental-darkblue);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.quarter1-icon02 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 31px;
  height: 26px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.quarter1-icon04 {
  fill: var(--dl-color-hexemental-darkblue);
  width: 28px;
  height: 26px;
  text-decoration: none;
}
.quarter1-burger-menu {
  display: none;
}
.quarter1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.quarter1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.quarter1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.quarter1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.quarter1-image1 {
  height: 2rem;
}
.quarter1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quarter1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.quarter1-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.quarter1-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.quarter1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.quarter1-welcome {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/background-1500h.png");
  background-position: center;
}
.quarter1-text {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.quarter1-text01 {
  color: var(--dl-color-hexemental-yellow);
  width: 660px;
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.quarter1-link03 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-darkblue);
}
.quarter1-link03:hover {
  transform: scale(1.02);
}
.quarter1-e-g1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-hexemental-darkblue);
}
.quarter1-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quarter1-text02 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
}
.quarter1-text03 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
}
.quarter1-link04 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-link04:hover {
  transform: scale(1.02);
}
.quarter1-image2 {
  width: 45rem;
  margin-top: var(--dl-space-space-twounits);
}
.quarter1-e-g2 {
  width: 100%;
  height: 697px;
  display: flex;
  max-width: auto;
  min-height: 80vh;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/playground_assets/background-1500h.png");
}
.quarter1-container3 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.quarter1-text14 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
}
.quarter1-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.quarter1-link05 {
  color: var(--dl-color-hexemental-darkblue);
  width: 166px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-link05:hover {
  transform: scale(1.02);
}
.quarter1-text16:hover {
  transform: scale(1.02);
}
.quarter1-text18 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
}
.quarter1-text34 {
  color: var(--dl-color-gray-white);
}
.quarter1-e-g3-4 {
  width: 100%;
  display: flex;
  max-width: auto;
  min-height: 80vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-darkblue);
}
.quarter1-container4 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.quarter1-text38 {
  color: var(--dl-color-hexemental-yellow);
  font-size: 3rem;
  max-width: 450px;
}
.quarter1-text39 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.quarter1-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.quarter1-link06 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-link06:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.quarter1-image3 {
  width: 400px;
  object-fit: cover;
}
.quarter1-e-g5-6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url("public/playground_assets/background-1500h.png");
  background-position: bottom;
}
.quarter1-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.quarter1-text52 {
  color: var(--dl-color-hexemental-yellow);
  width: auto;
  font-size: 3rem;
  max-width: auto;
  align-self: center;
  text-align: center;
}
.quarter1-text53 {
  color: var(--dl-color-gray-white);
  font-size: 1.15rem;
  max-width: 60%;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.quarter1-link07 {
  color: var(--dl-color-hexemental-darkblue);
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-link07:hover {
  transform: scale(1.02);
}
.quarter1-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-hexemental-yellow);
}
.quarter1-container6 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.quarter1-navlink2 {
  display: contents;
}
.quarter1-image4 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.quarter1-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.quarter1-navlink3 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: 0px;
  text-decoration: none;
}
.quarter1-navlink4 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.quarter1-navlink5 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.quarter1-navlink6 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-family: Hind;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.quarter1-navlink7 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.quarter1-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-hexemental-darkblue);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.quarter1-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quarter1-text63 {
  color: var(--dl-color-hexemental-darkblue);
  font-style: normal;
  font-weight: 600;
}
.quarter1-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.quarter1-link08 {
  display: contents;
}
.quarter1-icon16 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.quarter1-link09 {
  display: contents;
}
.quarter1-icon18 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.quarter1-link10 {
  display: contents;
}
.quarter1-icon20 {
  fill: var(--dl-color-hexemental-darkblue);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 1600px) {
  .quarter1-e-g3-4 {
    padding-left: 128px;
    padding-right: 128px;
  }
}
@media(max-width: 991px) {
  .quarter1-icon06 {
    display: flex;
  }
  .quarter1-e-g1 {
    flex-direction: column;
  }
  .quarter1-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-text02 {
    text-align: center;
  }
  .quarter1-text03 {
    text-align: center;
  }
  .quarter1-image2 {
    width: 80%;
  }
  .quarter1-e-g2 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .quarter1-container3 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-text14 {
    text-align: center;
  }
  .quarter1-text18 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .quarter1-e-g3-4 {
    flex-direction: column;
  }
  .quarter1-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .quarter1-text38 {
    text-align: center;
  }
  .quarter1-text39 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .quarter1-text52 {
    align-self: center;
  }
  .quarter1-text53 {
    align-self: center;
  }
  .quarter1-link07 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .quarter1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-nav {
    display: none;
  }
  .quarter1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quarter1-welcome {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .quarter1-e-g1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-text03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quarter1-e-g2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-text18 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .quarter1-e-g3-4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-text39 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quarter1-image3 {
    width: 80%;
  }
  .quarter1-e-g5-6 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-text52 {
    align-self: center;
    text-align: center;
  }
  .quarter1-text53 {
    max-width: 100%;
    align-self: center;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .quarter1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .quarter1-image4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .quarter1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .quarter1-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .quarter1-text63 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .quarter1-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .quarter1-image {
    margin-left: var(--dl-space-space-unit);
  }
  .quarter1-icon-group {
    display: none;
  }
  .quarter1-icon06 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .quarter1-mobile-menu {
    height: 376px;
    display: none;
    padding: 16px;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .quarter1-image1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .quarter1-icon08 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .quarter1-icon-group1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .quarter1-icon10 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .quarter1-icon12 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .quarter1-icon14 {
    fill: var(--dl-color-hexemental-darkblue);
  }
  .quarter1-welcome {
    width: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-text01 {
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .quarter1-e-g1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quarter1-text03 {
    color: var(--dl-color-gray-white);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .quarter1-link04 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .quarter1-e-g2 {
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-container3 {
    margin-bottom: 4px;
  }
  .quarter1-text14 {
    color: var(--dl-color-gray-white);
  }
  .quarter1-btn-group {
    flex-direction: column;
  }
  .quarter1-link05 {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 600;
    margin-left: 0px;
    background-color: var(--dl-color-hexemental-yellow);
  }
  .quarter1-text16 {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 600;
    margin-left: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .quarter1-text18 {
    color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quarter1-e-g3-4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-container4 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .quarter1-btn-group1 {
    flex-direction: column;
  }
  .quarter1-e-g5-6 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .quarter1-text53 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .quarter1-link07 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .quarter1-footer {
    padding: var(--dl-space-space-unit);
  }
  .quarter1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .quarter1-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .quarter1-text63 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
