<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="our-content.html" class="navigation-links-navlink1">
      <span>Our Content</span>
    </a>
    <div
      data-thq="thq-dropdown"
      class="navigation-links-thq-dropdown list-item"
    >
      <ul data-thq="thq-dropdown-list" class="navigation-links-dropdown-list">
        <li data-thq="thq-dropdown" class="navigation-links-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle"
          >
            <span class="navigation-links-text">Sub-menu Item</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown1 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle1"
          >
            <span class="navigation-links-text1">Sub-menu Item</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown2 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle2"
          >
            <span class="navigation-links-text2">Sub-menu Item</span>
          </div>
        </li>
      </ul>
    </div>
    <a href="our-events.html" class="navigation-links-navlink2">
      <span>Our Events</span>
    </a>
    <a href="about-us.html" class="navigation-links-navlink3">
      <span>About Us</span>
    </a>
    <a href="contact-us.html" class="navigation-links-navlink4">
      <span>Contact Us</span>
    </a>
  </nav>
</div>
